* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#sub_container {
  height:100vh;
  position: relative;
  width: 900px;
  margin: auto;
}



h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  color: #fff;
}

h1, h2 {
  font-family: "Luckiest Guy";
  letter-spacing: 2px;
}

h3, h4 {
  font-family: "Chalkduster"
}

h1 {
  font-size: 55px;
  padding: 90px 0 120px;
  margin: 0 auto;
}
h2 {font-size: 45px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}

main {
  text-align: center;
}

#main_container {
  background-color: rgba(125, 125, 125, 1);
}

#img {
  position: relative;
  display: block;
  width: 900px;
  height: 550px;
  background-color:rgba(125, 125, 125, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#quotes {
  width: 100%;
  background-color: rgba(125, 125, 125, 0.8);
  position: absolute;
  bottom: 0;
}

.quote {
  padding-bottom: 20px;
}

.author {
  padding-bottom: 30px;
}

nav {
  position: absolute;
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 25px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 65px;
  color: #fff;
  border-radius: 10px;
  font-family: "Luckiest Guy";
  font-size: 16px;
  cursor: pointer;
}

#cat_button {background-color: #FF0000;}
#cat_button:hover,
#cat_button:active {
  color: #FF0000;
  background-color: #FFF;
}

#random_button {background-color: #000;}
#random_button:hover,
#random_button:active {
  color: #000;
  background-color: #fff;
}

#dog_button {background-color: #35A404;}
#dog_button:hover,
#dog_button:active {
  color: #35A404;
  background-color: #fff;
}
